* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif;
  color: #fff;
  line-height: 30px;
  background: #171717;
  /* font-family: 'Open Sans', sans-serif*/
}
