@font-face {
  font-family: "NeueHaasGroteskText-Bold";
  src: local("NeueHaasGroteskText-Bold"),
    url("./fonts/NeueHaasGroteskText-Bold.woff") format("truetype");
}

@font-face {
  font-family: "NeueHaasGroteskText-Regular";
  src: local("NeueHaasGroteskText-Regular"),
    url("./fonts/NeueHaasGroteskText-Regular.woff") format("truetype");
}
